$bluey-grey :#919eab;
$bluey-grey-three: #8f9ea6;
$gun-metal : #454f5b;
$dark:#212b36;
$battleship-grey:#637381;
$paleBlue:#dfe3e8;
$light-blue-grey:#c4cdd5;

$placeholder:#adadad;
$accent:#4ad5f6;
$accent-shift:#2cd6ff;
$primary-background:#f9fafb;
$tab-active:#637381;
$label-color:#47495a;
$box-item-active:#23c0f5;



$bright-cyan:#4ad5f6;
$bluey-grey:#919eab;
$pale-grey-blue:#f4f6f8;
$light-blue-grey:#c4cdd5;
$dropzone-bordertone:#f9fafb;
