.hamburger{
  display: inline-block;
  @include size(24px);
  cursor: pointer;
  vertical-align: middle;
  span{
    width: 100%;
    height:calc(25% - 3px);
    background:#919eab;
    display: block;
    margin-bottom: 3px;
    &:nth-child(1),&:nth-child(3){
      width:60%;
      margin-bottom: 4px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
